#cover {
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
    transition: .5s;
    background: #333 fixed center url(https://a.xuewuzhibu.cn/24/656ca7c42eb90-24.jpg);
    background-size: cover;
}

#cover>.bgMask {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, .5);
    backdrop-filter: blur(.2rem);
}

.coverMain {
    display: flex;
    gap: 5vw;
}

.coverMain>.info {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.coverMain>.info,
.coverMain>.cover {
    overflow: hidden;
    transform: skew(-15deg);
}

.coverMain>.info>.title {
    display: flex;
    height: 2rem;
    margin: .5rem;
    padding: .5rem;
    background: #222;
}


.titleBadge {
    font-size: 1.5rem;
    display: flex;

    margin: -1rem 0;
    color: #222;
    background: #fff;
}

.coverMain .reskew {
    transform: skew(15deg);
}

.coverMain>.info>.title .reskew {
    margin: auto;
}

.coverMain>.info .reskew * {
    margin: 0 1.2rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.coverMain>.info>.desc {
    font-size: .6em;
}

.coverMain>.cover {
    position: relative;
    width: 40vw;
    height: 24vw;
    box-shadow: 0 0 2rem rgba(0, 0, 0, .5);
}

.cover>.coverImage {
    position: fixed;
    top: 0;
    right: -5vw;
    bottom: 0;
    left: -5vw;
    background: #333 fixed center url(https://a.xuewuzhibu.cn/24/656ca7c42eb90-24.jpg);
    background-size: cover;
}