#cp {
  font-size: 0.5rem;
  position: fixed;
  z-index: 1;
  top: 0;
  display: flex;
  overflow: auto;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  transition: 0.2s;
}
@media (max-aspect-ratio: 4/5) {
  #cp {
    align-items: center;
    flex-wrap: nowrap;
  }
}
#cpbd {
  position: fixed;
  z-index: -1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  transition: 0.5s;
  background: linear-gradient(
    30deg,
    rgba(51, 170, 255, 0.5),
    rgba(51, 187, 153, 0.5)
  );
  /* backdrop-filter: blur(1em); */
}
#cp > div {
  display: inline-block;
  overflow: auto;
  width: 10rem;
  margin: 0.5em;
  border-radius: 0.5rem;
  background: rgba(0, 0, 0, 0.5);
}
#cp > div > * {
  margin: 0.5rem;
}
.barset > div {
  position: relative;
  overflow: hidden;
  margin: 0.5em 0;
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.2);
}
.barset > div > div {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: rgba(0, 0, 0, 0.8);
  background: rgba(255, 255, 255, 0.8);
}
.barset i {
  margin: 0.5em;
  pointer-events: none;
}
.alist > a {
  display: block;
}
#cover {
  position: fixed;
  z-index: 9;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: none;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  transition: 0.5s;
  transition: opacity 0.5s;
  text-align: center;
  color: #37a;
  background: #fff;
}
.coincide {
  font-size: 2em;
  position: relative;
  color: rgba(0, 0, 0, 0.6);
}
#coverbar {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  transition: width 0.2s;
  background: rgba(255, 255, 255, 0.8);
}
.uid {
  font-size: 0.6rem;
  position: fixed;
  right: 2em;
  bottom: 0;
  color: #fff;
  text-shadow: 0 0 0.1em #000;
}
