* {
  margin: 0;
  padding: 0;
  color: inherit;
}

a {
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  border-radius: 0.2em;
}

a:hover {
  background: rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 0.5em rgba(0, 0, 0, 0.2);
}

html {
  font: 48px "Roboto", "微软雅黑", sans-serif;
  font: 2.7vw "Roboto", "微软雅黑", sans-serif;
  font: min(2.7vw, 7vh) "Roboto", "微软雅黑", sans-serif;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  height: 100vh;
  background-color: #333;

  /* background-image: url(https://7.dusays.com/2021/05/18/bb67285e264f1.jpg); */
  background-image: url(/campus.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}

body {
  min-width: 90vw;
  max-width: 95vw;
  cursor: not-allowed;
  transition: 0.5s;
  color: white;
}

.container {
  opacity: 0.75;
}

header {
  position: relative;
  z-index: 1;
}

.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dim {
  font-size: 0.75em;
  opacity: 0.6;
}

.small {
  font-size: 0.3em;
  opacity: 0.6;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  display: none;
}

.dropdown:hover > .dropdown-content {
  display: block;
}

.hilit,
.dropdown-content {
  padding: 0.2em;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.5em;
  background: white;
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.6);
}

.dropdown-content > a {
  display: block;
}

.selectbar {
  display: flex;
  float: right;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  min-width: 5em;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 0.2em;
  background: rgba(0, 0, 0, 0.2);
}

.bar {
  height: 0.25em;
  margin: 0.5em auto;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.6);
}

#bar {
  height: 100%;
  transition: linear 2s;
  background: white;
  box-shadow: 0.1em 0.1em 0.5em rgba(0, 0, 0, 0.6);
}

.card {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin: 0.5em auto;
  /* overflow: hidden; */
}

.card > div,
.card > a {
  font-family: Montserrat, "微软雅黑", sans-serif;
  display: inline-block;
  margin: 0.25em;
  padding: 0.25em 0.75em;
  transition: transform 0.5s;
  text-align: center;
  border-radius: 1em;
  background: rgba(255, 255, 255, 0.1);
  background: linear-gradient(
    -30deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.6);
}

.card > div:hover {
  /* 二选一 */
  transform: scale(1.1, 1.1);
  /* animation: turnover 1s; */
}

@keyframes turnover {
  0% {
    transform: rotateY(0) scale(1, 1);
  }
  50% {
    transform: rotateY(360deg) scale(1.2, 1.2);
  }
  100% {
    transform: rotateY(720deg) scale(1, 1);
  }
}

#clock {
  font-size: 5em;
  min-width: 2.5em;
}

#subject,
#timer {
  font-size: 3em;
}

#duration,
#activity {
  font-size: 1.5em;
  opacity: 0.6;
}

.notify {
  font-size: 0.5em;
  display: none;
  margin: 0.5em 1em;
  padding: 0.5em;
  border-radius: 0.5em;

  /* background: #25f; */
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0.5em 0.5em 1em rgba(0, 0, 0, 0.2);
}

#VerifyBubble,
#SSTBubble {
  font-size: 0.75em;
}

footer > img {
  max-width: 20em;
  max-height: 1.2em;
  vertical-align: middle;
}

@media (max-aspect-ratio: 3/4) {
  html {
    font: 6vw "Roboto", "微软雅黑", sans-serif;
    font: min(6vw, 5vh) "Roboto", "微软雅黑", sans-serif;
    align-items: flex-start;
  }

  .menu {
    top: 0;
    float: none;
  }

  header,
  .card,
  footer > .space-between {
    flex-direction: column;
  }
}
