/* default */
* {
  margin: 0;
  padding: 0;
}
html {
  font: 48px "Roboto", "微软雅黑", sans-serif;
  font: 2.75vw "Roboto", "微软雅黑", sans-serif;
  font: min(2.75vw, 7vh) "Roboto", "微软雅黑", sans-serif;
  color: white;
  background-color: #333;
  background-image: url(/campus.jpg);
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
}
.dropdown,
a {
  cursor: pointer;
  transition: 0.2s;
  text-decoration: none;
  color: inherit;
  border-radius: 0.2rem;
}
.dropdown:hover,
a:hover {
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
}
::selection {
  background: rgba(255, 102, 0, 0.5);
}
.space-between {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.dim {
  font-size: 0.75em;
  opacity: 0.6;
}
.sub {
  font-size: 0.6em;
  color: rgba(255, 255, 255, 0.6);
}
footer {
  font-size: 0.3em;
  opacity: 0.3;
}
/* elelments */
#main {
  /* align-items: stretch; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  margin: 0 auto;
  transition: 0.2s;
}
#main > * {
  margin: 0.2rem 1rem 1rem;
}
.notify {
  font-size: 0.5rem;
  z-index: 1;
  top: 0;
}
.notify > div {
  display: none;
  margin: 0.2rem auto;
  padding: 0.2rem;
  border-radius: 0.2rem;
}
#menu {
  font-size: 0.5rem;
  position: fixed;
  z-index: 1;
  display: none;
}
header {
  position: relative;
  z-index: 1;
}
.bar {
  height: 0.25rem;
  margin: 0.5rem auto;
}
#bar {
  height: 100%;
  transition: linear 2s;
  background: white;
}
.card {
  display: flex;
  justify-content: center;
  max-width: 100vw;
  margin: 0.5rem -1rem;
}
.card > div,
.card > a {
  font-family: "Montserrat", "微软雅黑", sans-serif;
  display: inline-block;
  margin: 0.25rem;
  padding: 0.25rem 0.75rem;
  transition: transform 0.5s;
  text-align: center;
  border-radius: 0.5rem;
}
.card > div:hover {
  transform: scale(1.1, 1.1);
}

#clock {
  font-size: 5rem;
  min-width: 2.5rem;
}
#subject,
#timer {
  font-size: 3rem;
}
#duration,
#activity {
  font-size: 1.5rem;
  color: rgba(255, 255, 255, 0.6);
}
footer img {
  max-width: 20em;
  max-height: 1.2em;
  vertical-align: middle;
}
@media (max-aspect-ratio: 4/5) {
  html {
    font: 6vw "Roboto", "微软雅黑", sans-serif;
    font: min(6vw, 5vh) "Roboto", "微软雅黑", sans-serif;
    align-items: flex-start;
  }
  .card,
  footer > .space-between {
    flex-direction: column;
    margin: auto;
  }
}
/* functional */
.notify > div,
.bar,
.card > div,
.card > a {
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.2);
}
.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 0.2rem;
}
/* #menu, */
.dropdown > :last-child {
  position: absolute;
  z-index: 1;
  display: none;
}
#menu .dropdown > :last-child {
  top: 0;
  left: 5em;
  min-width: 10em;
}
.dropdown:hover > :last-child {
  display: block;
}
#menu,
.hilit,
.dropdown > :last-child {
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2rem;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0.2em 0.2em 1em rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(0.5em);
}
a.hilit,
#menu > *,
.dropdown > :last-child > * {
  display: block;
  padding: 0.25em;
}
.selectbar {
  display: flex;
  float: right;
  overflow: hidden;
  align-items: center;
  justify-content: space-between;
  min-width: 5em;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 0.2rem;
  background: rgba(0, 0, 0, 0.1);
}
